root = true

[*]
insert_final_newline = true
charset = utf-8

# Code files
[*.{js,ts}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# Web design files
[*.{html,css,scss,less}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# Data files
[*.{json,xml}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# Markup files
[*.md]
trim_trailing_whitespace = false
indent_size = 4
