<header class="bs-docs-nav navbar navbar-fixed-top">
    <div class="row">
        <div class="col-xs-12 clearfix">
            <div class="logo-container display-inline-block">
                <ul>
                    <li>
                        <a href="#" class="freedom-mortgage-logo"></a>
                    </li>
                </ul>
            </div>
            <div class="profile_links">
                <nav class="profile_nav">
                    <ul class="nav navbar-nav">
                        <li class="welcome">
                            <a class="dropdown-toggle" data-toggle="dropdown">
										Welcome!</br>
										<strong>John Andrew</strong>
									  </a>
                        </li>
                        <li class="divider"></li>
                        <li class="profile">
                            <a href="" title="Update Profile"><span class="li-icon"></span><span class="li-text">Update Profile</span></a>
                        </li>
                        <li class="divider"></li>
                        <li class="pref active">
                            <a href="preferences.html" title="Preferences"><span class="li-icon"></span><span class="li-text">Preferences</span></a>
                        </li>
                        <li class="divider"></li>
                        <li class="faq">
                            <a href="" title="FAQs"><span class="li-icon"></span><span class="li-text">FAQs</span></a>
                        </li>
                        <li class="divider"></li>
                        <li class="contactUs">
                            <a href="" title="Contact Us"><span class="li-icon"></span><span class="li-text">Contact Us</span></a>
                        </li>
                        <li class="logout">
                            <a class="btn btn-danger margin-left-1" href="http://localhost:7709/">
                                <span class="logout-icon"></span> Logout
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav class="res_nav">
                    <a href="" id="menuToggle" title="Quick Links">
                        <span class="navClosed"><i>show menu</i></span>
                    </a>
                    <div class="test" fs-hamburger-menu toggle-class="open" toggle-button-selector="#menuToggle">
                        <div class="glossymenu">
                            <div class="res_mnuTitle">
                                <span class="res_mnuTitlea">Quick Links</span>
                            </div>
                            <div class="res_menu">
                                <div class="menuSet1">
                                    <ul id="dj-main_res196" class="dj-main_res">
                                        <li class="dj-up first">
                                            <span class="welcometxt">
											   Welcome, John Andrew!
											</span>
                                        </li>

                                    </ul>
                                </div>
                                <div class="menuSet2">
                                    <ul id="dj-main_res196" class="dj-main_res">
                                        <li class="dj-up first">
                                            <a class="dj-up_a ln-icon" href="">
											   Loan Summary
											</a>
                                        </li>
                                        <li class="dj-up">
                                            <a class="dj-up_a ac-icon" href="">
											   Account Overview
											</a>
                                        </li>
                                        <li class="dj-up">
                                            <a class="dj-up_a pay-icon" href="">
											   Payments
											</a>
                                        </li>
                                        <li class="dj-up">
                                            <a class="dj-up_a doc-icon" href="#">
											   Documents
											</a>
                                        </li>
                                        <li class="dj-up">
                                            <a class="dj-up_a sch-icon" href="#">
											   Amortization Schedule
											</a>
                                        </li>
                                        <li class="dj-up">
                                            <a class="dj-up_a as-icon" href="#">
											   Hardship Assistance
											</a>
                                        </li>
                                        <li class="dj-up">
                                            <a class="dj-up_a qt-icon" href="#">
											   Payoff Quote
											</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="menuSet3">
                                    <ul id="dj-main_res196" class="dj-main_res">
                                        <li class="dj-up">
                                            <a class="dj-up_a up_icon" href="">
											   Update Profile
											</a>
                                        </li>
                                        <li class="dj-up">
                                            <a class="dj-up_a pre_icon" href="">
											   Preferences
											</a>
                                        </li>
                                        <li class="dj-up first">
                                            <a class="dj-up_a faq_icon" href="">
											  FAQ's
											</a>
                                        </li>
                                        <li class="dj-up">
                                            <a class="dj-up_a con_icon" href="">
											  Contact Us
											</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="mobileHeading">
                    <h2 class="mainHeading">Preferences</h2>
                </div>
                <a href="http://localhost:7709/" class="logoutBtn" title="Logout"></a>
            </div>
        </div>
    </div>
</header>
