<header class="bs-docs-nav navbar navbar-fixed-top">
    <div class="row">
        <div class="col-xs-12 clearfix">
            <div class="logo-container display-inline-block">
                <ul>
                    <li>
                        <a href="#" class="freedom-mortgage-logo"></a>
                    </li>
                </ul>
            </div>
            <div class="profile_links">
                <nav class="profile_nav">
                    <ul class="nav navbar-nav">
                        <li class="purchase">
                            <a href="#" title="Purchase"><span class="li-icon"></span><span class="li-text">Purchase</span></a>
                        </li>
                        <li class="divider"></li>
                        <li class="refinance">
                            <a href="#" title="Refinance"><span class="li-icon"></span><span class="li-text">Refinance</span></a>
                        </li>
                        <li class="divider"></li>
                        <li class="calculator">
                            <a href="" title="Calculators"><span class="li-icon"></span><span class="li-text">Calculators</span></a>
                        </li>
                        <li class="divider"></li>
                        <li class="resources">
                            <a href="" title="Resources"><span class="li-icon"></span><span class="li-text">Resources</span></a>
                        </li>
                        <li class="divider"></li>
                        <li class="abtus">
                            <a href="" title="About Us"><span class="li-icon"></span><span class="li-text">About Us</span></a>
                        </li>
                    </ul>
                </nav>
                <nav class="res_nav">
                    <a href="" id="menuToggle" title="Quick Links">
                        <span class="navClosed"><i>show menu</i></span>
                    </a>
                    <div class="test" fs-hamburger-menu toggle-class="open" toggle-button-selector="#menuToggle">
                        <div class="glossymenu">
                            <div class="res_mnuTitle">
                                <span class="res_mnuTitlea">Quick Links</span>
                            </div>
                            <div class="res_menu">
                                <div class="menuSet2">
                                    <ul id="dj-main_res196" class="dj-main_res">
                                        <li class="dj-up first">
                                            <a class="dj-up_a pur_icon" href="">
											   Purchase
											</a>
                                        </li>
                                        <li class="dj-up">
                                            <a class="dj-up_a ref_icon" href="">
											   Refinance
											</a>
                                        </li>
                                        <li class="dj-up">
                                            <a class="dj-up_a calc_icon" href="">
											   Calculators
											</a>
                                        </li>
                                        <li class="dj-up">
                                            <a class="dj-up_a res_icon" href="#">
											   Resources
											</a>
                                        </li>
                                        <li class="dj-up">
                                            <a class="dj-up_a abt_icon" href="#">
											  About Us
											</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="mobileHeading">
                    <h2 class="mainHeading">{{fs-anonymous-header.heading}}</h2>
                </div>
            </div>
        </div>
    </div>
</header>
