<nav id="bs-navbar" class="mainNav">
    <ul class="navigation">
        <li class="nav-item quick-links hidden-xs">
            <a href="#"><span class="nav-item-text subIcon"><b>Quick Links</b></span> <span><label for="nav-trigger" class="arrow"></label></span> </a>
        </li>
        <li class="first nav-item">
            <a href="#" data-toggle="tooltip" data-placement="right" title="Loan Summary">
                <span class="loan-icon"></span>
                <span class="nav-item-text">Loan Summary</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" data-toggle="tooltip" data-placement="right" title="Account Overview">
                <span class="account-icon"></span>
                <span class="nav-item-text">Account Overview</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" data-toggle="tooltip" data-placement="right" title="Payments">
                <span class="payment-icon"></span>
                <span class="nav-item-text">Payments</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" data-toggle="tooltip" data-placement="right" title="Documents">
                <span class="document-icon"></span>
                <span class="nav-item-text">Documents</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" data-toggle="tooltip" data-placement="right" title="Amortization Schedule">
                <span class="document-icon"></span>
                <span class="nav-item-text">Amortization Schedule</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" data-toggle="tooltip" data-placement="right" title="Hardship Assistance">
                <span class="document-icon"></span>
                <span class="nav-item-text">Hardship Assistance</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" data-toggle="tooltip" data-placement="right" title="Payoff Quote">
                <span class="document-icon"></span>
                <span class="nav-item-text">Payoff Quote</span>
            </a>
        </li>
    </ul>
</nav>
