<footer class="footer">
			<div>
					<div class="footer-top-section">
						<div class="social-network-icons">
							<span class="facebook-icon"></span>
							<span class="twitter-icon"></span>
							<span class="linkedin-icon"></span>
						</div>
						<div class="housing-lender">
							<a href="#" class="housing-lender-icon"></a>
						</div>
					</div>
					<div class="footer-bottom-section margin-top-1">
						<div class="row">
							<div class="col-md-4 col-sm-6 col-xs-12">
								<p class="section-title">
									About Freedom Mortgage
								</p>
								<p>
									For 25 years, Freedom Mortgage has been earning a name for itself as a
									<br/>
									full-service lender with strong customer service and a unique streamlined process.
								</p>
								<p class="margin-top-1">
									If you'r experiencing financial difficulties, we're here to help you.
								</p>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<p class="section-title">
									Business Solutions
								</p>
								<a href="#">
									Commercial Real Estate Lending
								</a>
								<a href="#">
									Correspondent Lending
								</a>
								<a href="#">
									Freedom Mortgage Partner Group
								</a>
								<a href="#">
									Renovation Lending
								</a>
								<a href="#">
									Small Business Lending
								</a>
								<a href="#">
									Wholesale Services
								</a>
							</div>
							<div class="col-md-2 col-sm-6 col-xs-12">
								<p class="section-title">
									Visit
								</p>
								<a href="#">
									Contact Us
								</a>
								<a href="#">
									Find a Local Loan Officer
								</a>
								<a href="#">
									Reviews
								</a>
								<a href="#">
									Legal Information
								</a>
								<a href="#">
									State Licensing
								</a>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<p class="section-title">
									Location
								</p>
								<div>
									907 Pleasant Valley Avenue, Suite 3
								</div>
								<div>
									Mt Laurel, NJ 08054
								</div>
								<div>
									United States
								</div>
								<div>
									Lender NMLS ID:2767
								</div>
								<div>
									NMLS Consumer Access
								</div>
								<div>
									www.nmlsconsumeracess.org
								</div>
							</div>
						</div>
					</div>
				</div>
</footer>